.App {
  margin: 1rem;
}

html {
  background-color: #513c83;
}

.typeTag {
  color: black;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;

	/* font-size: 85%; */
	line-height:12px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-icab-border-radius: 2px;
	-o-border-radius: 2px;
}